html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.ms-pin {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 64px 64px;
  background-image: url('water.png')
}