<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <title>Water AI Map</title>
      <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  </head>
  <body>
    <div id="map"></div>
        <script src="./js/jquery.min.js"></script>

    <script>
      var map, markerSensor, markerExample;;

      function initMap() {
        // Create the map.
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: new google.maps.LatLng(37.7265926, -122.492393),
          mapTypeId: 'roadmap'
        });

        var features = [
          markerSensor,markerExample
        ];

        markerSensor = new google.maps.Marker({
          position:new google.maps.LatLng(37.7355901, -122.4900376),
          icon: './water.png',
          map: map
        });


       markerExample = new google.maps.Marker({
          position:new google.maps.LatLng(37.7265926, -122.492393),
          icon: './water.png',
          map: map
        });

      }
        function dataSuccess(data){
          if (data.detection == "Clean") {
            markerSensor.icon = "./water.png";
            markerSensor.setMap(null);
            markerSensor.setMap(map);
          } 
          else
          {
            markerSensor.icon = "./contaminated.png";
            markerSensor.setMap(null);
            markerSensor.setMap(map);
          }
        }
        function getData()
        {
          $.ajax({
            url:"https://api-project-100203780418.appspot.com/data",
            success:dataSuccess
          });
        }
        setInterval(getData, 5000)
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOURKEY&callback=initMap">
    </script>
  </body>
</html>